{% extends 'base.html.twig' %}

{% block title %}List Prodect{% endblock %}

{% block body %}

<h1>List Prodect</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>name1</td>
      <td>description1</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      
      <td>name2</td>
      <td>description2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >name3</td>
      <td>description3</td>
    </tr>
  </tbody>
</table>
{% endblock %}