{% extends 'base.html.twig' %}

{% block title %}ADD Prodect{% endblock %}

{% block body %}

<h1>ADD Prodect</h1>
<form>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

</div>
<button type="button" class="btn btn-primary">ADD</button>
</form>
{% endblock %}